/* เอาโค้ด .login ไป ใส่ของตัวเอง เปลี่ยน bg เอา*/
.login {
    background-image: url(./img/bg2.gif);
    /*เปลี่ยน bg*/
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: contain;
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    /* 16:9 Aspect Ratio */
    max-width: 85%;

}

.frame {
    max-height: 80%;
    padding-left: 15%;
    /* background-color: black; */
}

#bdTime {
    border: 15px solid transparent;
    padding: 15px;
    border-image: url(./img/bdTime1.gif) 33% round;
}

.timeleft {
    color: white;
    text-align: right;
    position: absolute;
    top: 8px;
    right: 16px;
}

/*******************************/

.pang1 {
    /* background-image: url(./img/bg3.jpg); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: contain;
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    /* 16:9 Aspect Ratio */
    max-width: 85%;

}
canvas{
    margin-left:auto; 
}

#gameArea{
    position:relative;
    width: 1600px;
    margin: 0px auto;
}


body {
    background-color: rgb(65, 65, 65);
}

/*************************************************/
.canvas3{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
}
.timeleft3 {
    color: white;
    text-align: right;
    position: absolute;
    top: 8px;
    right: 200px;
}
.level{
    color: white;
    text-align: right;
    position: absolute;
    top: 8px;
    left: 200px;
}
.levelLabel{
    border: 15px solid transparent;
    padding: 15px;

}
.Math3{
    color: white;
    text-align: right;
    position: absolute;
    top: 8px;
    left: 700px;
}
.MathLabel{
    border: 15px solid transparent;
    padding: 15px;

}
.gameArea3{
    position:relative;
    width: 1600px;
    margin: 0px auto;
    background-image: url("./img/customGame3/bg3.jpg");
    background-position: center;
  background-repeat: no-repeat;
  background-size: 1600px 900px;
}

